/**
 * @author Elias De Hondt
 * @see https://eliasdh.com
 * @since 31/10/2023
 */

body {
    background-color: #e5e5e5;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.top-bar {
    background-color: #49b373;
    display: flex;
    justify-content: center;
    width: 100%;
}

.logo img {
    max-width: 10%;
    height: auto;
    margin: 10px;
}




.left-bar {
    background-color: #49b373;
    display: flex;
    justify-content: left;
    width: 100%;
}




.zones, .locations {
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    text-align: center;
    margin: 0 10px;
}

.item-display {
    width: 100%;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    border: 1px solid #cccccc;
    padding: 8px;
    text-align: left;
}

table th {
    background-color: #49b373;
    color: white;
}






.side-menu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.side-menu a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.side-menu a:hover {
    color: #f1f1f1;
}

.side-menu .close-btn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.username {
    color: #49b373;
}