/**
 * @author Elias De Hondt
 * @see https://eliasdh.com
 * @since 31/10/2023
 */

body {
    background-color: #e5e5e5;
    margin: 0;
    padding: 0;
}

* {
    font-family: 'Arial', sans-serif;
}

body::-webkit-scrollbar {
    width: 5px;
}

body::-webkit-scrollbar-thumb {
    background-color: #49b373;
    border-radius: 100px;
}

.main-content h1 {
    color: #49b373;
    font-size: 30px;
    margin-bottom: 20px;
}

/* Main Menu */
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    padding-top: 10px;
    padding-bottom: 10px;
}

a {
    padding-left: 15px;
}

nav ul li a {
    color: #ffffff;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
    display: block;
}

nav ul li a:hover {
    background-color: #43a369;
    color: #ffffff;
}

.navigation-bar {
    background-color: #49b373;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 200px; /* Adjust the width as needed */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/* Main Menu */

/* Main Menu Top */
.main-menu-top {
    width: 100%;
    padding: 10px;
    text-align: center;
}

.username {
    color: #ffffff;
    font-size: 20px;
    text-transform: capitalize; /* Capitalization */
}
/* Main Menu Top */

/* Main Menu Center */
.has-submenu > a {
    color: #ffffff;
    display: block;
    padding: 15px;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

.has-submenu > a:hover {
    background-color: #43a369;
    color: #ffffff;
}

.submenu {
    background-color: #43a369;
    color: #000000;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    list-style: none;
    padding: 0;
    margin: 0;
}

.submenu li {
    padding-top: 1px;
    padding-bottom: 1px;
    border-radius: 20px;
    transition: background-color 0.3s;
}

.submenu li a {
    color: #ffffff;
    display: block;
    text-decoration: none;
    transition: color 0.3s;
}

.submenu li a:hover {
    background-color: #3b915d;
    color: #ffffff;
}
/* Main Menu Center */

/* Main Menu Bottom */
.main-menu-bottom {
    display: flex;
    align-items: center;
}

.main-menu-bottom a {
    color: #ffffff;
    text-decoration: none; /* Remove the underline */
    padding: 12px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s ease;
    display: flex;
    align-items: center;
}

.main-menu-bottom a i {
    margin-right: 2px; /* Adjust the margin between icons as needed */
}

.main-menu-bottom a:hover {
    color: #ffffff;
    transform: scale(1.30);
}
/* Main Menu Bottom */

/* Main Menu Minimize */
.navigation-bar {
    transition: width 0.3s;
}

.navigation-bar.collapsed {
    width: 40px;
    overflow: hidden;
}

.navigation-bar.collapsed nav ul, .navigation-bar.collapsed .main-menu-top {
    display: none; /* Hide the navigation items, top and bottom when collapsed */
}

.collapsed .collapse-icon {
    transform: rotate(180deg) !important;
}
/* Main Menu Minimize */

/* Pop Up Window */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 999;
}

.info-user-bell-window {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 20px;
    display: none;
    z-index: 1000;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.info-user-bell-window h2 {
    font-size: 24px;
    margin-bottom: 15px;
}

.info-user-bell-window p {
    font-size: 16px;
}

.info-user-bell-window button {
    padding: 8px 16px;
    background: #49b373;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.info-user-bell-window button:hover {
    background: #3b915d;
}
/* Pop Up Window */

/* Items Table */
.table-container {
    margin-top: 15px;
    height: 70%;
    overflow: auto;
}

.table-container::-webkit-scrollbar {
    width: 5px;
}

.table-container::-webkit-scrollbar-thumb {
    background-color: #49b373;
    border-radius: 100px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

.table-attributes {
    background-color: #49b373;
    color: #ffffff;
    font-weight: bold;
    text-align: left;
    padding: 8px;
    top: 0;
    z-index: 1;
}

.sticky {
    position: sticky;
}


tr:nth-child(odd) {
    background-color: #43a369;
    color: #ffffff;
}

tr:nth-child(even) {
    background-color: #3b915d;
    color: #ffffff;
}

td {
    padding: 8px;
    border-bottom: 1px solid #dddddd;
}
/* Items Table */

/* Filter Menu Item */
select {
    background-color: #ffffff;
    border: 1px solid #cccccc;
    color: #333333;
    appearance: none;
    padding: 8px;
    border-radius: 5px;
    width: 100%;
    max-width: 200px;
    cursor: pointer;
    transition: all 0.3s;
    margin: 100px;
}

select option {
    background-color: #ffffff;
    color: #333333;
    transition: all 0.3s;
}

select:focus {
    border-color: #49b373;
    box-shadow: 0 0 5px #49b373;
    outline: none;
}

select:hover {
    border-color: #49b373;
}

select option:checked {
    background-color: #49b373;
    color: #fff;
}
/* Filter Menu Item */

/* Service Status */
.main-content {
    padding: 20px; /* Add padding as needed */
}

.status-list {
    list-style: none;
    padding: 0;
}

.service-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd; /* Add border as needed */
    border-radius: 5px;
}

.service-name {
    flex: 1;
}

.service-status {
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
}

.service-operational {
    color: #008000;
    background-color: #dff0d8;
}

.service-issues {
    color: #ff0000;
    background-color: #f2dede;
}
/* Service Status */

/* Custom Button Styles */
.button {
    display: inline-block;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    background-color: #49b373;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s ease;
}

.button:hover {
    background-color: #43a369;
    color: #ffffff;
}


.button + .button {
    margin-left: 10px;
}
/* Custom Button Styles */

