/**
 * @author Elias De Hondt
 * @see https://eliasdh.com
 * @since 31/10/2023
 */

body {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.app-name {
    color: #49b373;
    font-size: 30px;
    margin-top: 20px;
    text-align: center;
}

.login-form {
    background-color: #49b373;
    border: 1px solid #e5e5e5;
    width: 320px;
    margin-top: 20px;
    padding: 20px 10px 60px 10px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-form input {
    margin: 8px 0;
    padding: 12px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    transition: border-color 0.3s;
}

.login-form input:focus {
    outline: none;
    border-color: #3498db;
}

.login-form button {
    background-color: #ffffff;
    color: #000000;
    width: 100%;
    margin: 10px 0;
    padding: 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-form button:hover {
    background-color: #e5e5e5;
    color: #000000;
}

.logo img {
    max-width: 80%;
    height: auto;
    display: block;
    margin: 20px auto;
    border-radius: 8px;
    padding-bottom: 20px;
}